@charset "UTF-8";
body {
	padding: 0;
	margin: 0;
	background: #586C84;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
h1 {
	color: #D1F0FF;
	font-family: Georgia, "Times New Roman", Times, serif;
}
h2 {
	font-size: 14px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 20px;
}
h3 {
	font-size: 12px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
}
p {
	margin-top: 5px;
	margin-bottom: 5px;
}
table th {
	text-align: left;
	padding-right: 10px;
	font-weight: normal;
}
table td {
	padding: 2px;
}
input[type="text"] {
	border: 1px solid #999999;
	-moz-border-radius: 3px;
	width: 120px;
}
input.short {
	width: 80px;
}
input.long {
	width: 200px;
}
input:focus {
	background-color: #D1F0FF;
}
#contactInfo, 
#pensionInfo, 
#payment {
	padding: 20px;
	-moz-border-radius: 5px;
	width: 720px;
	background: white;
}
#contentContainer {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 740px;
}
#contactInfo {
	-moz-border-radius: 5px;
	position: relative;
}
#employerInfo {
	width: 240px;
}
#pensionInfo {
	margin-top: 20px;
	margin-bottom: 10px;
}
#pensionInfo select {
	margin-left: 5px;
	margin-bottom: 10px;
}
#pensionInfo table {
	width: 675px;
}
#pensionInfo table th {
	vertical-align: center;
	padding-left: 2px;
}
#pensionInfo table th em {
	font-size: 0.8em;
	font-style: italic;
}
#pensionInfo .salary input {
	font-weight: bold;
	width: 50px;
	text-align: right;
	background-color: #F9FCDD;
}
#pensionInfo .calculatedAmount {
	text-align: center;
}
#pensionInfo #totalRow td div {
	font-size: 1.2em;
	font-weight: bold;
	border-top: 2px solid black;
}
#payment {
	margin-top: 20px;
}
#payment input[type="submit"] {
	font-weight: bold;
	margin-top: 10px;
}
#payment #paymentOptions {
	position: relative;
	left:240px;
	margin-top: 20px;
}
#payment #snailMail, #payment #errorExplanation {
	width: 170px;
	padding: 20px;
	height: 200px;
	background: #d1dae5;
	-moz-border-radius: 5px;
}
#payment #errorExplanation {
	background: #faa;
	position:absolute;
}
#payment #errorExplanation ul {
	padding-left:1em;
}
#payment #errorExplanation li a {
}
#orderStatus {
  background: #CCFFCC;
  border: 2px solid green;
  color: green;
  float: center;
  font-size: 1em;
  margin: 0.5em 0;
  padding: 0.5em;
}

